.wp-block-button.is-style-outline
	> .wp-block-button__link:not(.has-text-color, .has-background):hover {
	background-color: var(--wp--preset--color--contrast-2, var(--wp--preset--color--contrast, transparent));
	color: var(--wp--preset--color--base);
	border-color: var(--wp--preset--color--contrast-2, var(--wp--preset--color--contrast, currentColor));
}

.wp-block-post-comments-form input[type=submit] {

	width: 100%;
}

.wp-block-gallery {
	margin-bottom: 0px;
}

img {

	border-radius: 20px;
}

button.wp-block-button__link.has-primary-border-color.has-text-color.has-background-color.has-background.has-primary-background-color {
	width: 100%;
}